@import url('./catppuccin.css');

body {
  background-color: var(--ctp-latte-base);
  color: var(--ctp-latte-text);
}

#map-title {
  text-align: center;
  font-weight: 500;
  color: var(--ctp-frappe-base);
}

.footnote {
  font-size: small;
}

#proj4_str {
  font-weight: 300;
  text-align: center;
  color: var(--ctp-mocha-crust);
}

a {
  color: var(--ctp-latte-blue);
}
a:hover {
  color: var(--ctp-latte-rosewater);
  text-decoration: none;
  font-weight: bold;
}
#pagetitle {
  font-size: 18pt;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 5px;
  color: var(--ctp-latte-text);
  text-align: center;
  font-size: 11px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: none;
  text-decoration: none;
  white-space: nowrap;
  background-color: var(--ctp-latte-base);
  border-radius: 4px;
  border: 1px solid var(--ctp-latte-lavender);
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: var(--ctp-mocha-base);
  background-color: var(--ctp-latte-overlay0);
  border-color: var(--ctp-latte-overlay1);
  outline: 0; }

.button.button-on,
button.button-on,
input[type="submit"].button-on,
input[type="reset"].button-on,
input[type="button"].button-on {
    color: var(--ctp-frappe-text);
    background-color: var(--ctp-frappe-base);
    text-transform: none;
    font-weight: 700;
    border-color: var(--ctp-frappe-lavender); }
.button.button-on:hover,
button.button-on:hover,
input[type="submit"].button-on:hover,
input[type="reset"].button-on:hover,
input[type="button"].button-on:hover,
.button.button-on:focus,
button.button-on:focus,
input[type="submit"].button-on:focus,
input[type="reset"].button-on:focus,
input[type="button"].button-on:focus {
    color: var(--ctp-mocha-text);
    background-color: var(--ctp-mocha-base);
    border-color: var(--ctp-mocha-lavender); }


  
 /* The side navigation menu */
 .sidenav {
  height: 95%; /* 100% Full-height */
  width: 20%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 999; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: var(--ctp-frappe-mantle); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 30px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  opacity: 0.85;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  transition: 0.3s;
}

.sidetitle {
  padding: 8px 8px 8px 32px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  color: var(--ctp-frappe-text);
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: var(--ctp-mocha-text);
  background-color: var(--ctp-mocha-mantle);
  cursor: pointer;
}

.proj {
  color: var(--ctp-frappe-subtext0);
}

.proj-on {
  color: var(--ctp-mocha-crust);
  background-color: var(--ctp-latte-overlay0);
  font-weight: 700;
}

th,
td {
  padding: 1px 1px;
  text-align: center;}